.item-block
  .product-name
    Name
    = name
  .category
    Category
    = category
  .price
    Price
    = price
  .description
    Description
    = description
  .image
    Image
    %img{src: image}
  = link_to 'View Detail'
